# msmtp configuration
account default
host {{ msmtp_host }}
port {{ msmtp_port }}
from {{ msmtp_from_email }}
auth on
user {{ msmtp_user }}
password {{ msmtp_password }}
tls on
logfile {{ msmtp_logfile_path }}
